/* ======= Google Fonts ========= */
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Prompt", sans-serif;
  box-sizing: border-box;
}
html {
  background-color: hsl(258, 60%, 99%);
}
