:root {
  --main-color: #0e6880;
}
.typeBox {
  color: var(--main-color);
  background-color: #fff;
  /*font-family: "Raleway", sans-serif;*/
  text-align: center;
  padding: 0 25px 30px;
  position: relative;
  margin: 3rem 0;
  z-index: 1;
}
.type__name {
  color: #fff;
}
.typeBox:before,
.typeBox:after {
  content: "";
  background: #fff;
  border-radius: 15px 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  z-index: -1;
}
.typeBox:after {
  background-color: var(--main-color);
  height: 50%;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}
.typeBox .type-icon {
  color: #fff;
  background: var(--main-color);
  font-size: 45px;
  width: 75%;
  margin: 0 auto 35px;
  border-radius: 0 0 50px 50px;
  position: relative;
}
.typeBox .type-icon:before,
.typeBox .type-icon:after {
  content: "";
  background: linear-gradient(
    to top left,
    var(--main-color) 49%,
    transparent 50%
  );
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: -10px;
}
.typeBox .type-icon:after {
  background: linear-gradient(
    to top right,
    var(--main-color) 49%,
    transparent 50%
  );
  left: auto;
  right: -10px;
}
.typeBox .title {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 10px;
}
.typeBox .description {
  color: #555;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 25px;
}
.description_header {
  text-align: left;
  font-size: 22px;
  margin: 0 0;
  font-weight: 900;
}
.type__content {
  text-align: left;
}
.typeBox.yellow {
  --main-color: #ffb90d;
}
.typeBox.green {
  --main-color: #60b361;
}
.typeBox.blue {
  --main-color: #016fce;
}
.typeBox.red {
  --main-color: #f65e5d;
}
.typeBox.navy {
  --main-color: #293462;
}
@media only screen and (max-width: 1199px) {
  .typeBox {
    margin: 0 0 40px;
  }
}
