.register__bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: url("../../assets/login-layered-steps.svg");
  background-size: cover;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.register__content {
  padding-top: 5rem;
  overflow: hidden;
}
.register__text {
  position: absolute;
  margin: -4rem 0;
}

@media screen and (max-width: 900px) {
  .register__bg {
    background-image: url("../../assets/login-layered-steps-verticel.svg");
    background-size: cover;
    width: 100%;
    height: auto;
    margin-bottom: -18rem;
  }
  .register__text {
    margin: -2rem 0;
  }
}
