/*.result__chart-card {
  padding: 2.5rem;
  background-color: rgba(255, 255, 255, 0.326);
  box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
  border-radius: 20px;
}*/

.result__chart-ch {
  max-width: 650px;
  margin: auto;
}
.result__info {
  padding: 0 2rem;
}
.result__info-header {
  font-size: 28px;
  font-weight: 600;
  /* background-color: rgba(255, 99, 132, 1);*/
  color: #ffffff;
  padding: 0 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
}

.result__info-title {
  font-size: 18px;
  font-weight: bold;
}

.result__info-header.red {
  background-color: rgba(255, 99, 132, 1);
}
.result__info-header.blue {
  background-color: rgba(34, 202, 236, 1);
}
.box-red {
  border-radius: 5px;
  box-shadow: 0px 10px 20px -5px hsl(229, 6%, 85%);
  padding: 30px;
  margin: 30px;
  border-top: 3px solid hsl(0, 78%, 62%);
}
.box-blue {
  border-radius: 5px;
  box-shadow: 0px 10px 20px -5px hsl(229, 6%, 85%);
  padding: 30px;
  margin: 30px;
  border-top: 3px solid hsl(212, 86%, 64%);
}
@media screen and (max-width: 1080px) {
  .result__chart-card {
    padding: 0;
    margin: 0;
  }
  .result__info {
    padding: 2rem 0;
    margin: 0;
  }
  .box-blue {
    margin: 0;
  }
  .box-red {
    margin: 0;
  }

  .card_r {
    margin: 2rem 0;
  }
}
