.mobile-btn {
  visibility: hidden;
  position: fixed;
}
.row {
  font-size: large;
}
@media screen and (max-width: 500px) {
  .normal {
    visibility: hidden;
    position: fixed;
  }
  .mobile-btn {
    visibility: visible;
    align-items: center;
    position: static;
  }
  h5 {
    font-size: medium;
  }
}
